$bgColor = rgb(248, 248, 248)
$lineColor = rgb(233, 233, 233)

pr($num)
    return ($num/100)rem

bg($url)
    display: inline-block
    background: url($url) no-repeat center
    background-size: 100%

bordertop($color)
    position: relative

    &:before
        content: ''
        display: block
        width: 100%
        position: absolute
        top: 0
        left: 0
        border-top: 1px solid $color

borderbottom($color)
    position: relative

    &:after
        content: ''
        display: block
        width: 100%
        position: absolute
        bottom: 0
        left: 0
        border-bottom: 1px solid $color
